*
!.gitignore
!.nowignore
!Agda.css
!bindings
!bindings/**/
!bindings/**/*.agda
!build.mjs
!Light.agda
!Light
!Light/**/
!Light/**/*.agda
!lightlib.agda-lib
!now.json
!other
!other/**/
!other/**/*.agda
!package.json
!license.md
!readme.md
!prepare.bash
